:root {
  // general
  --black-color: #000;
  --white-color: #fff;
  --text-color: #000;
  --accent-color: linear-gradient(247.32deg, #FFF2D1 0%, #FFE0D1 33.33%, #FFE3E4 63.02%, #F7E7FF 100%);
  --hover-shadow: 4px 4px 8px 0 rgba(34,60,80,.2);

  // task
  --task-divider: rgb(218, 218, 218);
  --bg-desc: #f2f2f2;
}
