// gulp.config.public.js
module.exports = {
  app: 'main',
  sources: {
    scss: {
      src: `./${app}/static/scss/**/*.scss`
    },
    js: {
      src: `./${app}/static/js/**/*.js`
    },
    html: {
      src: `./${app}/static/html/**/*.html`
    }
  },
  buildLocations: {
    css: `./${app}/static/css/`,
    js: `./${app}/static/js/`
  }
};
