.user {
  position: relative;
  transition: all 0.3s linear;
  cursor: default;

  &:hover {
    z-index: 3;

    .user__content {
      opacity: 1;
    }

    color: var(--white-color);
  }

  &__name {
    position: relative;
    z-index: 3;
  }

  &__content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 60px 20px 20px 20px;
    border-radius: 10px;
    top: -5px;
    left: -10px;
    min-width: 120%;
    opacity: 0;
    z-index: -1;
    transition: opacity .2s;

    a {
      text-decoration: none;
      outline: none;
      display: block;
      text-align: center;
      color: #000;
      background: var(--white-color);
      padding: 5px;
      border-radius: 10px;
      position: relative;
      left: -5px;
      cursor: pointer;
      transition: transform .2s linear;

      &:hover {
        transform: translateY(-0.2rem);
      }
    }
  }
}
