form {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
  }
  textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 5px 0 0 10px;
    resize: none;
    width: 300px;
    height: 40px;
    border: none;
    background-color: transparent;
    outline: none;
    overflow: hidden;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  label {
    text-align: left;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
  }
  p {
    display: inline;
    text-align: right;
    color: #fff;
    font-size: 12px;
  }
  button {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #fafbfd;
  }
}
