@import 'base';
@import 'components/title';
@import 'components/form';
@import 'components/hamburger';
@include page_prepare;

//TODO .item__icon move 'margin-right' property to parent

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.app {
  &__inner {
    min-width: 450px;
    border-radius: 10px;
    background-color: #fafbfd;
    -webkit-box-shadow: 5px 5px 15px -2px rgba(139, 139, 139, 0.8);
    box-shadow: 5px 5px 15px -2px rgba(139, 139, 139, 0.8);
    margin-bottom: 50px;

    &:last-child {
      box-shadow: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8d57e;
    border-bottom: 1px solid rgb(218, 218, 218);
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    color: #000;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #000;
    border-bottom: 1px solid rgb(218, 218, 218);
    &:last-child {
      border-bottom: none;
    }
  }

  &__create {
    padding: 10px 10px;
    text-align: center;
    position: relative;
    border-top: 1px solid rgb(218, 218, 218);
  }

  &__button {
    padding: 10px;
    margin: 0;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    background-color: #f8d57e;
    font-size: 24px;
    color: #fff;
    transition: all 0.3s ease;
  }
}

.item {
  &__context {
    display: flex;
    align-items: center;
    &--desktop {
      @media (max-width: 768px) {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @media (max-width: 768px) {
        display: block;
      }
    }
  }
  &__title {
    font-weight: 400;
    &--completed {
      text-decoration: line-through;
    }
  }
  &__preview {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 20px 20px;

    &--completed {
      justify-content: flex-end;
      // background-color: #bbb;
      &::before {
        display: none;
      }
    }

    span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 70%;
      text-align: center;
    }

    &::before {
      content: '';
      width: 5px;
      height: 0;
      background-color: #f8d57e;
      transition: all 0.3s ease;
      position: absolute;
      left: 0;
      top: 0;
    }
    &:hover::before {
      height: 100%;
    }
  }
  &__description {
    max-height: 0;
    overflow: hidden;
    background-color: #bbbbbb;
    transition: all 0.3s ease-in-out;
    li {
      padding: 10px 20px;
      list-style-type: none;
    }
    p {
      word-break: break-all;
    }
  }
  &__datetime {
    position: relative;
  }
  &__icon {
    width: 18px;
    height: 18px;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
  }
}

.form-wrapper {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: -230px;
  left: 50%;
  transform: translateX(-50%);
  transition: max-height 0.6s ease;
}

.app__form {
  padding: 10px 20px;
  @include form;
}

.completed {
  min-width: 350px;
  border-radius: 10px;
  background-color: #fafbfd;
  -webkit-box-shadow: 5px 5px 15px -2px rgba(139, 139, 139, 0.8);
  box-shadow: 5px 5px 15px -2px rgba(139, 139, 139, 0.8);
}

@media (max-width: 768px) {
  .date {
    display: none;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &__show {
    display: block !important;
  }
  &__section {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
  }
  &__content {
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  &__text {
    padding: 5px 20px;
    background-color: #f8d57e;
    border-radius: 10px;
    color: #000;
    margin-bottom: 10px;
  }
  &__form {
    text-align: center;
    hr {
      margin-bottom: 10px;
      background-color: #000;
      height: 1px;
      border: none;
    }
  }
  &__btn {
    padding: 5px 20px;
    border: none;
    background-color: #f8d57e;
    border-radius: 10px;
    margin-right: 10px;
    font-family: inherit;
    font-size: inherit;
    transition: background-color 0.3s linear;
    &:hover {
      background-color: #febb10;
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.username {
  &__dropdown {
    position: relative;
    transition: all .3s linear;
    &:hover {
      z-index: 3;
      color: #fff;
    }
  }
  position: relative;
  z-index: 3;
  &__content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 60px 20px 20px 20px;
    border-radius: 10px;
    top: -5px;
    left: -10px;
    min-width: 120%;
    z-index: -1;
    a {
      text-decoration: none;
      outline: none;
      color: #000;
      background-color: #f8d57e;
      padding: 5px;
      border-radius: 10px;
      transition: background-color 0.3s linear;
      position: relative;
      left: -5px;
      &:hover {
        background-color: #febb10;
        cursor: pointer;
      }
    }
  }
}
